.header{
    color: grey;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 1em;
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
  }
  
  .title-row {
    margin-top: 3em;
    
  }
  
  .body {
    
     font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 1em;
    
  }
   
   .pageline {
    display: grid;
    grid-template-columns: 20px 280px 110px 150px 100px 60px;
    border-bottom: 1px solid grey;
   }
  
   .table {
    width: 730px;
    background-color: rgb(201, 201, 194);
    margin: 0 auto;
   }
  .pageline span {
  border-right: 1px solid grey;
  padding-left: 2px;
  }